.header__nav {
  display: flex;
  overflow: hidden;
}

.header__logo {
  flex: 1;
  display: flex;

  position: relative;
  padding: 20px;
}

.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;

  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  padding-left: 30px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #fff;
  opacity: 0.8;
}

.header__menu,
.header__menu-mobile {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;

  list-style: none;
}

.header__menu {
  flex: 1.236;
}

.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu-mobile {
  display: none;
  gap: 0px;
  flex: 1;
}
.header__menu-mobile div {
  background-color: var(--color-creamson);
  padding: 1rem 0;
  border-radius: 8px;
}

.menucard__container-outer {
  position: absolute;
  opacity: 0;
  width: 250px;
  top: 50px;
  z-index: 9;
  transition: opacity 0.7s ease-in-out;
}

.show .menucard__container-outer {
  opacity: 1;
}
.menucard__container-inner {
  list-style: none;
  width: 50%;
  margin: 0 auto;
}
.menucard__container-inner li {
  text-align: center;
  padding-bottom: 0.5rem;
  font-family: var(--plus-jakarta-sans);
  font-weight: 500;
  text-transform: uppercase;
}

.menucard__container-inner li:last-child {
  padding-bottom: 0;
}
